# Windows system files
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*~

# In case you open the project in VS Code, these files store user-specific settings
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
